<% include ../header.ejs %>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/blog/admin">管理</a>
                    </li>
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/blog/admin/picture/1/index">图片管理</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-file"></i> 添加图片
                    </li>
                </ol>
            </div>
            <hr>
            <div class="col-xs-6 col-xs-offset-2 col-md-3 col-md-offset-4">
                <h3 style="padding-bottom: 10px;margin-left: -10px">添加图片</h3>
                <div style="margin: 10px 0">
                    <% if (typeof(error) !== 'undefined' && error) { %>
                    <div class="alert alert-warning alert-dismissible fade in">
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        <strong><%= error %></strong>
                    </div>
                    <% } %>
                    <% if (typeof(success) !== 'undefined' && success) { %>
                    <div class="alert alert-success alert-dismissible fade in">
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        <strong><%= success %></strong>
                    </div>
                    <% } %>
                </div>
                <form role="form" method="post" action="/blog/admin/picture/add" enctype="multipart/form-data">
                    <fieldset>
                        <div class="form-group">
                            <label for="picture_name">名称</label>
                            <input value="Angel" type="text" name="picture_name" class="form-control" id="picture_name" placeholder="歌曲">
                        </div>
                        <div>
                            <label for="picture_info">简介</label>
                            <input value="太空" type="text" name="picture_info" class="form-control" id="picture_info" placeholder="简介">
                        </div>
                        <div class="form-group">
                            <label for="picture_filename">文件</label>
                            <input type="file" class="form-control" name="picture_file" id="picture_file">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">确定添加</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../footer.ejs %>
