<% include inc/header.ejs %>
<% include inc/navbar.ejs %>

<div class="container" style="background: #ffffff">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/blog"> 博客 </a>
                </li>
                <li class="active">
                    <i class="fa fa-share"> 成长历程 </i>
                </li>
            </ol>
        </div>
        <ul class="timeline">
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">哈哈</h4>
                    </div>
                    <div class="timeline-body">
                        <p>哈哈 。。。 </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">部署服务器</h4>
                    </div>
                    <div class="timeline-body">
                        <p>服务器选择了 。。。 </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge warning"><i class="fa fa-user-md"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">博客开发中 。。。 </h4>
                    </div>
                    <div class="timeline-body">
                        <p>工作之余开发的产品，速度很慢哦。。。</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<% include inc/foot.ejs %>
<% include inc/footer.ejs %>
