<% include inc/header.ejs %>
<% include inc/navbar.ejs %>

<div id="content" class="container" style="background: #ffffff;padding: 5px 10px 50px 10px">
<div class="row">
    <div class="col-sm-12 col-md-12">
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/blog"> 博客 </a>
            </li>
            <li class="active">
                <i class="fa fa-share"> 分享 </i>
            </li>
        </ol>
    </div>
	<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		<h3>网络电视</h3>
		<embed width="100%" height="600px" name="plugin" src="http://live.64ma.com/tv/live.html">
	</div>
</div>
</div>

<% include inc/foot.ejs %>
<% include inc/footer.ejs %>
